# binary
*.exe
*.exe~
*.dll
*.so
*.dylib
./bin/*
*.pid
*.test
das

# config
.idea/
*/.idea/
.DS_Store
config/das.yaml
test/*.json

# output
*.out
log/
*/*.log
*.log

#other
das.pid
http-client.env.json

